html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

body > p:first-child{
    margin-top: 150px;   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > *{
    margin: 10px;
}